/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .carousel-item {
        height: 55vh;
    }
    .carousel-caption {
        bottom: 10% !important;
    }
    .carousel-caption h5, .explore-heading, .feedback-content h1{
        font-size: 20px;
        font-weight: 400;
    }
    .carousel-caption p{
        font-weight: 300;
        font-size: 16px;
    }
    .custom-btn, .carousel-caption a{
        padding: 15px 30px;
        font-weight: 500;
        font-size: 18px;
    }
    /* courses card */
    .width-mb{
        width: 100%;
    }
    /* footer  */
    .footer-icons span {
        font-size: 18px;
        margin: 10px 10px;
    }
    .section-header{
        font-size: 20px;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-item {
        height: 35vh;
    }
    .carousel-caption {
        bottom: 10% !important;
    }
    .carousel-caption h5, .explore-heading, .feedback-content h1{
        font-size: 20px;
        font-weight: 400;
    }
    .carousel-caption p{
        font-weight: 300;
        font-size: 16px;
    }
    .custom-btn, .carousel-caption a{
        padding: 15px 30px;
        font-weight: 500;
        font-size: 18px;
    }
    /* courses card */
    .width-mb{
        width: 100%;
    }
    /* footer  */
    .footer-icons span {
        font-size: 18px;
        margin: 10px 10px;
    }
    .section-header{
        font-size: 20px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media(min-width:768px) and (max-width: 991.98px) {
    .carousel-caption {
        bottom: 10% !important;
    }
    .carousel-caption h5, .explore-heading, .feedback-content h1{
        font-size: 35px;
    }
    .carousel-caption p{
        font-size: 18px;
    }
    .custom-btn, .carousel-caption a{
        font-size: 20px;
    }
    .section-header{
        font-size: 30px;
    }
}